.outer-background {
    background-color: #8b4513; /* Chocolate Brown */
    padding: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-container {
    background-color: #d2b48c; /* Tan */
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .heading {
    color: #8b4513; /* Chocolate Brown */
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #654321; /* Dark Brown */
  }
  
  th {
    background-color: #a0522d; /* Sienna Brown */
    color: #fff;
  }
  
  td {
    background-color: #fff8dc; /* Cornsilk */
  }
  
  button {
    background-color: #8b4513; /* Chocolate Brown */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #a0522d; /* Sienna Brown */
  }
  
  p {
    margin-bottom: 10px;
    border-bottom: 1px solid #654321; /* Dark Brown */
    padding-bottom: 10px;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  