.housing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .housing-card {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 5px;
    width: 400px;
    box-sizing: border-box;
    margin-top: 10px;
  }
  
  .housing-box {
    background-color: #ebebeb;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .housing-result p {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .housing-result .amount {
    font-weight: bold;
  }
  
  